.scan-item-card {
    margin: 1rem;
}

.scan-item-card:hover {
    border-color: black;
}

.scan-item-card-body {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-top: 1rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.scan-item-badge {
    height: 2rem;
    width: 6rem;
    padding-top: 0.5rem;
}