.project-item-card {
    margin: 1rem;
}

.project-item-card-body {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    text-align: center;
    vertical-align: middle;
}