.default-message-row {
    text-align: center;
    justify-content: center;
}

.no-project-button {
    width: 100% !important;
    margin: 1rem 0rem !important;
}

.align-center {
    text-align: center;
}

.new-project-row {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.new-project-button {
    width: 10rem;
    height: 3rem;
}